* {
  margin: 0, auto;
  text-align: center;
}

body {
  height: 100%;
  background-color: #757575;
  
}

a {
  text-decoration: none;
  color: white;
}

/* Parallax */
.parallax {
  background-color: white;
  background-image: url('./images/parallax.jpg');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.experiment {
  height: 500px; 
  background-image: url('./images/vegetable-trial.jpg');
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1000px;
}

/* Title Styles */
.header-title {
  font-family: 'EB Garamond', serif;
  font-size: 120px;
  margin: 0, auto;
  color: white;
  text-align: center;
  line-height: 50%;

}

.header-title-container {
  border: solid 2px white;
  height: 370px;
  width: 370px; 
  margin: 10px;
}

.bg-image {
  width: 600px;
  justify-content: center;
  padding: 50px;
  background-image: url('./images/Kale-01.svg');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  max-width: 600px;
  /* width: 800px;  */
  border: solid 2px white;
}

.bg-image-container {
  border: solid 10px white;
  width: 600px;
  height: 600px;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  
}


.title-container {
  display: flex;
  margin: 175px;
  justify-content: center;
  align-items: center; 
  border: solid 10px white;
  /* padding: 20px; */
  height: 400px;
  width: 400px; 
}

/* Nav Drop Down Styles */
.drop-menu-button {
  background-color: transparent;
  color: white;
  padding: 15px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  border: none;
}

.navbar {
  width: 150px;
  margin: 20px;
  
}

.drop-content {
  display: block;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  text-decoration: none;
  color: #757575;
  display: block;
  padding: 10px;
}

.drop-content a:hover {
  background-color: #f1f1f1;
}

.drop-container:hover .drop-content {
  display: block;
}

 header a {
  text-decoration: none;
  color: white;
}

/* Store */
.store-container {
  /* background-color: rgba(117, 117, 117, 0.9); */
  margin: 0, auto;
  display: flex;
  flex-direction: column;
  
}

/* Fancy Buttons Maybe */
.anim-button{
  background-color: transparent;
  border: none;  
  position: relative;
  border: 2px solid white;
  margin: 0px 100px 0px 100px;
  text-align: left;
  width: 25vw
} 

.anim-button a {
  font-size: 20px;
  text-transform: uppercase; 
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;

}
.anim-button:hover {
  
  background-color: white;
}

.anim-button a:hover {
  color: #757575;
  background-color: white;
  
}

/* .button-horizontal {
  border: 2px solid red;
  padding: 20px;
  position: absolute;

}

.button-vertical {
  border: 2px solid blue;
  padding: 30px;
  position: absolute;
} */


/* Farm Map Styles */
.farm-map-container {
  margin: 20px, auto;
  padding: 30px 0;
  background-color: rgba(117, 177, 177, .5);
}

.farm-name-container {
  display: flex;
  /* background-color: lightpink; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px, auto;
}

hr {
  border: solid 1px white;
  width: 75vw;
  margin: 0px 50px;
  margin-left: -30px;
}

/* Individual Product Styles */

.all-products-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  /* background-color: lightpink; */
}


.single-product-container {
  /* background-color: white; */
  margin: 30px;
  width: 275px;
  height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
}

.single-product-container a {
  color: #272727;
  margin: -50px, auto;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;

}
.single-product-container img {
  max-width: 275px;
}

.single-product-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.single-product-container:hover .single-product-inner {
  transform: rotateY(180deg);
}

.single-product-front, .single-product-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
}

.single-product-back {
  transform: rotateY(180deg);
  font-size: 24px;
}

.single-product-back  button{
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 50px;
  background-color: #004d40;
}

.single-product-back a {
  color: white;
  font-size: 36px;
  font-weight: 500;
  align-items: center;
}

.single-front-container {
  background-color: white;
  height: 20%;
}




