.market-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.zip-label {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
}

.market-form {
    background-color: #004d40;
    width: 40vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

form {
    margin-top: 50px;
    background-color: white;
    padding: 20px 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-div {
    background-color: white;
    padding: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.input-container {
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;
width: 30vw;
}

.input-hidden {
    display: none;
}

.form-label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    color: #004d40;
    font-weight: 800;
}

input[type=submit] {
    font-family: 'Open Sans Condensed', sans-serif; 
    background-color: #004d40; 
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 24px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

input[type=string] {
    /* width: 30%;
    padding: 10px 5px; */
    margin: 8px 0;
    border:solid 2px whitesmoke;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .market-form input[type=submit] {
    margin: 10px;;
    padding: 10px;
    border-radius: 2px;
    font-size: 20px; 
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border: solid 2px whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
  }

  /* .market-list-div {
      display: flex;
      justify-content: center;
      
  } */

  .market-map-container {
    margin-top: 50px;
  }

  .market-list-container {
      display: flex; 
      /* background-color: lightseagreen; */
      width: 75vw;
      margin: 10px;
      justify-content: center;
      align-items: center;

  }

  .miles-container {
      width: 20%;
      /* background-color: lightpink; */
      font-family: 'Open Sans Condensed', sans-serif;
  }

  .market-name-container {
      width: 60%;
      /* display: flex;
      justify-content: center; */
      /* background-color: lightgoldenrodyellow; */
      font-family: 'EB Garamond', serif;
      font-size: 24px;
      color: #004d40;
      
  }


