* {
  margin: 0, auto;
  text-align: center;
}

body {
  height: 100%;
  
}

.parallax {
  background-image: url('./images/vegetable-trial.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.experiment {
  height: 500px;
  background-image: url('./images/vegetable-trial.jpg');
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

header {
  display: flex;
  background-color: lightpink;
  justify-content: space-between;
}

.header-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  background-color: lightseagreen;
  margin: 0, auto;
  color: white;
}

.header-title-grown {
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;
  background-color: lightseagreen;
  margin: auto;
  color: white;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin: 0, auto;
  background-color: lightsalmon;
}

.nav-container {
  display: flex;
}

nav {
  background-color: lightgoldenrodyellow;
}