* {
  margin: 0, auto;
  text-align: center;
}

body {
  height: 100%;
  background-color: #757575;
  
}

.parallax {
  background-image: url('./images/vegetable-trial.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.experiment {
  height: 500px; 
  background-image: url('./images/vegetable-trial.jpg');
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  height: 800px;
}

/* Title Styles */
.header-title {
  font-family: 'EB Garamond', serif;
  font-size: 120px;
  margin: 0, auto;
  color: white;
  text-align: center;
  line-height: 50%;

}

.title-container {
  display: flex;
  margin: 175px;
  justify-content: center;
  align-items: center; 
  border: solid 10px white;
  padding: 20px;
  height: 400px;
  width: 400px; 
}

/* Nav Drop Down Styles */
.drop-menu-button {
  background-color: transparent;
  color: white;
  padding: 15px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  border: none;
}

/* .drop-container {
  display: flex;
  background-color: lightgreen;
  margin: 0 auto;
  width: 200px;
  height: 100%;
} */

.try {
  width: 150px;
  margin: 20px;
}

.drop-content {
  display: block;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  text-decoration: none;
  color: #757575;
  display: block;
  padding: 10px;
}

.drop-content a:hover {
  background-color: #f1f1f1;
}

.drop-container:hover .drop-content {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

