* {
  margin: 0, auto;
  text-align: center;
}

body {
  height: 100%;
  background-color: #757575;
  
}

.parallax {
  background-image: url('./images/vegetable-trial.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.experiment {
  height: 500px; 
  background-image: url('./images/vegetable-trial.jpg');
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

header {
  display: flex;
  justify-content: space-between;
  height: 800px;
}

/* .header-title-container {
  display: block;
  margin: 0, auto; 
  background-color: lightskyblue;
  height: 400px;
  width: 400px; 
  
  align-items: center;
  justify-content: center;
} */

.header-title {
  font-family: 'EB Garamond', serif;
  font-size: 120px;
  margin: 0, auto;
  color: white;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
  line-height: 50%;

}

.title-container {
  display: flex;
  margin: 175px;
  justify-content: center;
  align-items: center; 
  border: solid 10px white;
  padding: 20px;
  height: 400px;
  width: 400px;
  
  
}

.nav-container {
  display: flex;
}

nav {
  background-color: lightgoldenrodyellow;
}